<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet</title>

    
    <!--Boot Strap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <br><br>

    <h2 align="center" style = "colour:blue"><i class="bi bi-twitter" style = "colour:blue"></i>Tweet Clone</h2>
    <div class = "container">
        <h4>Sucessfully Logged Out!</h4>
        <a href="{%url 'login' %}"><p>Click here to Login</p></a>   
    </div>

</body>
</html>