{% extends "feed/base.html"%}

{%block content%}


<div class="jumbotron">
    <h1 class="display-4">Hello, {{ user.username}}</h1>
    <p class="lead">MY Tweet Clone.</p>
    <hr class="my-4">
    <p>Click Below To Start Tweeting.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'tweetcreate'%}" role="button">Create</a>
    </p>
</div>

    <div class = "container">
        {% for tweet in object_list %}

            <br>
            <div class="card">
                <div class="card-header">
                    <a href="#"><h4>{{tweet.uname}}</h4></a>
                    <p>{{tweet.datetime}}</p>
                </div>

                <div class="card-body">
                <p class="card-text"><h5>{{tweet.text}}</h5></p>
                </div>
            </div>

        {% endfor %}
    </div>

{%endblock content%}